.bingo-container
{
font-family: 'Urbanist';
position:relative;
overflow: hidden;
margin:25px auto;
width:550px;
height:575px;
background:rgba(var(--lgray));
background: linear-gradient(rgba(var(--color1), 1) -25%, rgba(var(--color2), 0.7));
color:rgba(var(--black));
font-size:12px;
line-height:17px;
box-shadow:2px 2px 2px #d3d3d3;
text-align:left;
}

.bingo-name {
padding:20px 25px;
font-size:38px;
font-weight:200;
text-transform: uppercase;
text-align:left;  
line-height:35px;
font-weight:200;
color:rgba(var(--white));
width:500px;
position:relative;
font-family: 'virgo delight';
  z-index: 4;
  text-shadow: 2px 2px rgba(var(--black));
  top: 5px;
  left: 10px; 
}

.bingo-name:before { 
  content: 'Dark';
  font-size: 50px; 
  letter-spacing: 3px; 
  color: rgba(var(--color2));
    text-shadow: 2px 2px rgba(var(--dgray));

} 
.bingo-name:after { 
  content: '\a31';
  font-family: 'Starry';
  font-size: 40px; 
  color: rgba(var(--white), 1);
  position: absolute; 
  left: 205px; 
  top: 15px; 
   text-shadow: 0.5px 0.5px rgba(var(--black),0.5);
} 

.bingo-table {
position:relative;
z-index:1;
margin:-10px 25px 25px;
background: transparent;
 border-collapse: separate;
}

.prompt, .filled {
position:relative;
background: rgba(var(--white), 0.6);
border-radius:5px;
width:130px;
height:135px;
padding:0px 15px;
text-align:center;
font-size:19px;
line-height:21px;
text-transform:lowercase;
color:rgba(var(--color2));
z-index: 2;
font-weight: 400;
}

.filled:before {
font-family: starry; 
position:absolute;
top:30px;
left: 15px; 
font-size: 70px;
z-index:3;
margin:25px 10px;
display:block;
width:100px;
height:100px;
border-radius:100%;
color: rgba(var(--color2), 0.6);
transform: rotate(0deg);
}


.prompt a, .filled a {
z-index:4;
display:block;
width:150px;
height:150px;
position:absolute;
top:0px; left:0px;
}



/*color*/

#dacademia {
 --color1: 181, 159, 136; 
--color2: 74, 76, 51;
}


 #dacademia .filled:before {
content:'\e92a';
font-family: 'Starry';
} 
